body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board{
    display: block;
    margin: 0 auto;
    background: linear-gradient( 
        to bottom, 
        #0B1020 0%, /* deep navy at the top */ 
        #1A1F3A 50%, /* indigo in the middle */ 
        #2A1F4A 100% /* dark purple at the bottom */ );
    position: fixed;
}

.star {
      position: absolute;
      border-radius: 50%;
      background: white;
      opacity: 0.8;
    }